@model IEnumerable<Web_Quan_Ba_San_Pham.Models.Models1.CartItem>
@using Web_Quan_Ba_San_Pham.Models
<table class="table">
    <tr class="text-center">
        <th>STT</th>
        <th>Tên sản phẩm</th>
        <th>Ảnh sản phẩm</th>
        <th>Danh mục</th>
        <th>Giá</th>

        <th style="width:100px;">Số lượng</th>
        <th>Thành tiền</th>
        <th style="width:200px;">

        </th>
    </tr>
    @if (Model != null && Model.Any())
    {
        var i = 0;
        var tongtien = decimal.Zero;
        foreach (var item in Model)
        {
            tongtien += item.Tongtien;
            <tr class="text-center" id="trow_@item.IdSanpham">
                <td>@(i+1)</td>
                <td>
                    <a href="/chi-tiet/@item.Tieude-p@(item.IdSanpham)">
                        @item.Tieude
                    </a>
                </td>
                <td><img src="@item.Hinhanh" width="60" /></td>
                <td>@item.Loaisp </td>
                <td>@item.Gia, 0</td>
                <td><input type="number" class="form-control" id="Soluong_@item.IdSanpham" value="@item.Soluong" /></td>
                <th>@item.Tongtien, 2</th>
                <td>
                    <a href="#" data-id="@item.IdSanpham" class="btn btn-sm btn-danger btnDelete">Xóa</a>
                    <a href="#" data-id="@item.IdSanpham" class="btn btn-sm btn-success btnUpdate">Cập nhật</a>
                </td>
            </tr>
            i++;
        }
        <tr>
            <th colspan="6" class="text-right">Tổng: </th>
            <th class="text-center">tongtien, 0</th>
            <th></th>
        </tr>

    }
    else
    {
        <tr>
            <td colspan="7">Không có sản phẩm trong giỏ hàng!!</td>
        </tr>
    }
</table>

